---
// Research Interests section component
---

<section class="section">
	<div class="container">
		<h2 class="section-title">Research Interests</h2>
		<div class="interests-list">
			<span class="interest-tag">Reinforcement Learning</span>
			<span class="interest-tag">Deep Learning</span>
			<span class="interest-tag">Evolutionary Computation</span>
			<span class="interest-tag">Machine Learning</span>
			<span class="interest-tag">Computer Vision</span>
		</div>
	</div>
</section>
