---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

// Import CSS files
import '../styles/global.css';
import '../styles/header.css';
import '../styles/publications.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>
